* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
}

h1 {
    background-color: #081b31;
    color: #fff;
    height: 5rem;
    line-height: 5rem;
}

/* Choices container */
.choices {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    margin-top: 5rem;
}

/* Each choice (Rock, Paper, Scissors) */
.choice {
    height: 165px;
    width: 165px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid transparent;
    transition: all 0.3s ease;
}

.choice:hover {
    cursor: pointer;
    background-color: #081b31;
    border-color: white;
    transform: scale(1.1);
}

/* Images inside choices */
img {
    height: 150px;
    width: 150px;
    object-fit: cover;
    border-radius: 50%;
}

/* Scoreboard */
.score-board {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    margin-top: 3rem;
    gap: 5rem;
}

#user-score,
#comp-score {
    font-size: 4rem;
    font-weight: bold;
}

/* Message Container */
.msg-container {
    margin-top: 5rem;
    display: flex;
    justify-content: center;
}

#msg {
    background-color: #081b31;
    color: #fff;
    font-size: 2rem;
    padding: 1rem 2rem;
    border-radius: 1rem;
    width: fit-content;
}
